body {
    font-family: Helvetica, Arial, Freesans, clean, sans-serif;
    padding: 1em;
    margin: auto;
    max-width: 42em;
    color: #7f7f7f;
    font-size: 18px;
    background: #fefefe;
}

ul
{
    list-style: url(file:///android_asset/bullet.png);
}
